ttms_ae.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="empbankdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="designation"/>
              <xs:element type="xs:string" name="location"/>
              <xs:element type="ValidPrice" name="price"/>
              <xs:element type="xs:decimal" name="number"/>
              <xs:element type="xs:string" name="bank"/>
              <xs:element type="xs:string" name="status"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ValidPrice">
    <xs:restriction base="xs:integer">
    <xs:minInclusive value="15000"></xs:minInclusive>
    <xs:maxInclusive value="100000"></xs:maxInclusive>
    </xs:restriction>
    </xs:simpleType>
</xs:schema>
